.login-form {
	margin-top: 306px;
	margin-left:400px;
	margin-right:400px;
}

.form-group{
    color:#CFC1B5;
    font-size:20px;

}

.bk{
    background:rgba(0,0,0,0.4);
    margin-top:10px;
	padding:auto;
	margin-left:481px;
	margin-right:481px;
    
}

.btn {
    background:#CFC1B5;
	color:white;

}

fieldset {
	margin-top:-10px;
	margin-left:-400px;
	margin-right:400px;
	width:360px;
	height:200px;
}
    



